/* 通过媒体查询，更改最大的容器的尺寸 */
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

/* 初始样式  body灰色样式*/
body {
  background-color: #f5f5f5;
}

/* 容器样式，背景颜色 */
.container {
  background-color: #fff;
}

/* header 清楚阿里百秀左右padding区域 */
header {
  padding-left: 0 !important;
}
/* 最好使用自己的类名添加样式 不要使用col-md-2 row等 */
header .logo {
  /* 清除header中的h1 padding默认样式 */
  margin: 0;
  background-color: #3274a3;
}
/* 让图片随屏幕响应式的自动撑开 */
header .logo a {
  display: block;
}
/* header .logo a img {
  display: block; */
  /* 不用设置高度，高度等比例发生变化 */
  /* width: 100%;
} */
/* 当图片不显示，显示的阿里百秀四个字样式 */
header .logo a span {
  display: block;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  color: #fff;
}

/* nav 部分 */
header nav {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}
/* 让a独占一行 */
header nav a {
  
  display: block !important; 
  height: 50px;
  padding-left: 30px;
  color: #666;
  font-size: 16px;
  line-height: 50px !important;
}
/* bootsTrap图标的样式调整，是用伪元素写的 */
header nav a::before {
  margin-right: 5px;
  vertical-align: middle;
}
header nav a:hover {
  background-color: #fff;
  color: #333;
  text-decoration: none;
}

/* news部分样式 */
main .news {
  border-bottom: 1px solid #ccc;
}
/* 整个图片宽度在发生变化，高度没变 */
main .news li {
  float: left;
  width: 25%;
  height: 128px;
  padding-right: 10px;
  margin-bottom: 10px;
}
/* 左边第一张图片占比50% */
main .news li:nth-child(1) {
  width: 50%;
  height: 266px;
}
main .news li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
main .news li a img {
  display: block;
  width: 100%;
  height: 100%;
}
main .news li a p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 41px;
  padding: 5px 10px 0;
  margin: 0;
  background-color: rgba(0,0,0,0.7);
  color: #fff; 
  /* 默认字体公共样式 */
  font-size: 12px;
  line-height: 16px; 
}
main .news li:nth-child(1) a p {
  padding: 0 10px;
  font-size: 20px;
  line-height: 41px;
}


/* publish 部分 */
main .publish .publish-box {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
main .publish .publish-box img {
  padding-top: 10px;
}

/* 侧边栏 */
/* 将a标签转为块级 */
aside .banner {
  display: block;
  width: 100%;
  /* 右边图片有个留白bottom */
  margin-bottom: 20px;
}
/* 将a标签转为块级 */
aside .hot {
  display: block;
  padding: 0 20px 20px;
  border: 1px solid #ccc;
}
aside .hot button {
  border-radius: 0;
  /* 热搜底部距离10px */
  margin-bottom: 10px;
}
aside .hot:hover {
  /* 鼠标悬浮没有下划线 */
  text-decoration: none;
}
aside .hot p {
  font-size: 12px;
}

/* 进行媒体查询，制作响应式效果 */
/* 小屏幕及以上 */
@media screen and (min-width: 768px) {
  header .logo img {
    /* 利用CSS层叠后写层叠先写的 */
    margin: 0 auto;
  }
}
/* 超小屏幕，小屏幕 */
@media screen and (max-width: 991px) {
  /* 头部阿里百秀四个字居中 */
  header nav a {
    float: left;
    width: 20%; 
  }
}
/* 超小屏幕字体设置 */
@media screen and (max-width: 767px) {
  header nav a {
    font-size: 14px;
  }
  main .news li {
    /* 其他四幅图变成了宽度50% */
    width: 50%;
  }
  main .news li:nth-child(1) {
    /* 超小屏幕阿里百秀四个字变成了宽度100% */
    width: 100%;
  }
  main .publish .publish-box h3 {
    font-size:16px;
  }
}