html {
  font-size: 50px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.26666667px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
body {
  min-width: 320px;
  width: 15rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, Helvetica, STHeiTi, sans-serif;
  background: #F2F2F2;
}
ul,
ol {
  list-style: none;
}
.top-banner {
  position: relative;
  width: 15rem;
  height: 2rem;
}
.top-banner .top-banner-img {
  display: block;
  width: 100%;
  height: 100%;
}
.top-banner .top-banner-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.top-banner .close {
  position: absolute;
  left: 0.1rem;
  top: 0.5rem;
  width: 1rem;
  height: 1rem;
  background: url(../images/close.png) no-repeat center center;
  background-size: 0.6rem auto;
}
.header {
  width: 15rem;
  height: 3.6rem;
  background-color: #ffdb47;
  margin-bottom: 0;
}
.header .header-top {
  display: flex;
  width: 13.64rem;
  height: 1.76rem;
  padding: 0 0.68rem;
  justify-content: space-between;
  align-items: center;
}
.header .header-top .classify img {
  display: block;
  width: 0.72rem;
  height: 1.2rem;
}
.header .header-top .ad img {
  display: block;
  width: 9rem;
  height: 1.1rem;
  margin-right: 1rem;
}
.header .header-top .login img {
  display: block;
  width: 0.72rem;
  height: 1.2rem;
}
.header .search {
  position: relative;
  width: 15rem;
  height: 1.84rem;
  padding: 0 0.48rem;
  box-sizing: border-box;
}
.header .search a {
  position: absolute;
  top: 0;
  left: 0.48rem;
  width: 14.04rem;
  height: 1.76rem;
}
.header .search i {
  position: absolute;
  left: 0.84rem;
  top: 0.52rem;
  width: 0.72rem;
  height: 0.72rem;
  background: url(../images/search_btn.png) no-repeat 0 0;
  background-size: 0.72rem auto;
}
.header .search form {
  display: flex;
  width: 14.04rem;
  height: 1.76rem;
  align-items: center;
}
.header .search form input {
  width: 14.04rem;
  height: 1.28rem;
  padding: 0.06rem 0.4rem 0 1.3rem;
  border: 0;
  border-radius: 0.64rem;
  box-sizing: border-box;
  font-size: 0.56rem;
  line-height: 1.28rem;
}
.banner {
  width: 15rem;
  height: 5.2rem;
  background: url(../images/banner_bg.png) no-repeat 0 0;
  background-size: 15rem auto;
}
.banner .wrapper {
  width: 14.04rem;
  height: 5.2rem;
  margin: 0 auto;
  overflow: hidden;
}
.banner .wrapper ul {
  position: relative;
  width: 40rem;
  height: 5.2rem;
  margin: 0;
}
.banner .wrapper ul li {
  position: absolute;
  left: 14.04rem;
  top: 0;
  width: 14.04rem;
  height: 5.2rem;
  border-radius: 0.48rem;
  overflow: hidden;
}
.banner .wrapper ul li.current {
  left: 0;
}
.banner .wrapper ul li img {
  width: 14.04rem;
  height: 5.2rem;
}
.nav {
  width: 15rem;
  height: 6.16rem;
}
.nav a {
  float: left;
  width: 3rem;
  height: 2.84rem;
  text-decoration: none;
  color: #666;
  font-size: 0.44rem;
}
.nav a img {
  display: block;
  width: 1.68rem;
  height: 1.68rem;
  margin: 0.48rem 0.66rem 0;
}
.nav a p {
  height: 0.56rem;
  margin-top: 0.1rem;
  line-height: 0.56rem;
  text-align: center;
}
